.top-panel-container {
    .top-panel {
        padding: 10px;
        display: flex;
        justify-content: center;
        gap: 1em;

        .vector {
            display: flex;
            justify-content: space-between;
            gap: 1em;
        }
    }
}
