$base-background-color: white;

$background-color: white;

$window-border-size: 0.5em;

$panel-background-color: $base-background-color;
$panel-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.3);
$panel-border-radius: 0.5em;
$panel-padding: 0.5em;

$input-border: 1px solid lightgray;
$input-border-radius: 0.5rem;
$input-color: darkcyan;
$input-font-weight: 600;

$blue-color: #0288d1;
$blue-light: rgba(02, 136, 209, 0.3);
$blue-dark: #205081;

$gray-light-light: #EEEEEE;
$gray-light: #d0d0d0;
$gray-color: #b6b6b6;
$gray-dark-light: #888888;
$gray-dark: #606060;
$gray-dark-dark: #303030;

