.balance-button {
    padding: 0.2em 0.5em;
    font-weight: 600;
    color: darkcyan;
    border: 1px solid lightgray;
    border-radius: 0.5em;
    cursor: pointer;
    text-align: center;
    height: 1.5rem;

    &:hover {
        background-color: cadetblue;
        color: black;
    }
}

.balance-button.disabled {
    color: gray;
    cursor: default;
    background-color: #F8F8F8;

    &:hover {
        background-color: #F8F8F8;
    }
}
